@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');
html {
  /* COLORS */
  --color-orange: rgba(255, 84, 0, 1);
  --color-orange-90: rgba(255, 84, 0, .9);
  --color-orange-80: rgba(255, 84, 0, .8);
  --color-orange-70: rgba(255, 84, 0, .7);
  --color-orange-60: rgba(255, 84, 0, .6);
  --color-orange-50: rgba(255, 84, 0, .5);
  --color-orange-40: rgba(255, 84, 0, .4);
  --color-orange-30: rgba(255, 84, 0, .3);
  --color-orange-20: rgba(255, 84, 0, .2);
  --color-orange-10: rgba(255, 84, 0, .1);
  /**/
  --color-green: #4bb900;
  --color-blue: red;
  /**/
  --color-dark-gray: rgba(97, 106, 116, 1);
  --color-dark-gray-90: rgba(97, 106, 116, .9);
  --color-dark-gray-80: rgba(97, 106, 116, .8);
  --color-dark-gray-70: rgba(97, 106, 116, .7);
  --color-dark-gray-60: rgba(97, 106, 116, .6);
  --color-dark-gray-50: rgba(97, 106, 116, .5);
  --color-dark-gray-40: rgba(97, 106, 116, .4);
  --color-dark-gray-30: rgba(97, 106, 116, .3);
  --color-dark-gray-20: rgba(97, 106, 116, .2);
  --color-dark-gray-10: rgba(97, 106, 116, .1);
  /**/
  --color-light-gray: #e0e4e8;
  --color-light-gray-90: rgba(224, 228, 232, .9);
  --color-light-gray-80: rgba(224, 228, 232, .8);
  --color-light-gray-70: rgba(224, 228, 232, .7);
  --color-light-gray-60: rgba(224, 228, 232, .6);
  --color-light-gray-50: rgba(224, 228, 232, .5);
  --color-light-gray-40: rgba(224, 228, 232, .4);
  --color-light-gray-30: rgba(224, 228, 232, .3);
  --color-light-gray-20: rgba(224, 228, 232, .2);
  --color-light-gray-10: rgba(224, 228, 232, .1);
  /**/
  --color-dark: rgba(19, 22, 25, 1);
  --color-dark-90: rgba(19, 22, 25, .9);
  --color-dark-80: rgba(19, 22, 25, .8);
  --color-dark-70: rgba(19, 22, 25, .7);
  --color-dark-60: rgba(19, 22, 25, .6);
  --color-dark-50: rgba(19, 22, 25, .5);
  --color-dark-40: rgba(19, 22, 25, .4);
  --color-dark-30: rgba(19, 22, 25, .3);
  --color-dark-20: rgba(19, 22, 25, .2);
  --color-dark-10: rgba(19, 22, 25, .1);
  /**/
  --color-light: #fff;
  /* SPACING */
  --max-content-width: 1280px;
  --max-text-width: 42rem;
  --spc: 1rem;
  --spc-double: calc(var(--spc) * 2);
  --spc-half: calc(var(--spc) / 2);
  --spc-quarter: calc(var(--spc) / 4);
  /* SHADOW VALUES */
  --shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
  --shadow-big: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.1);
  --radius: var(--spc-quarter);
}
/*

COLOR (TEXT AND BG) --------------------------------------------------
To set text color:
class="text-COLORNAME";

To set background color:
class="bg-COLORNAME";

COLORNAME can be any of these:

orange
green
blue
dark-gray
light-gray
dark
light

Notes:
First 5 colors are Nearsoft's official.
Light = white
Default text color is dark

BOX SHADOWS --------------------------------------------------
.shadow, .shadow-medium, .shadow-big


*/

html {
  scroll-behavior: smooth;
}

.text-orange {
  color: var(--color-orange);
}

.text-green {
  color: var(--color-green);
}

.text-blue {
  color: var(--color-blue);
}

.text-dark-gray {
  color: var(--color-dark-gray);
}

.text-light-gray {
  color: var(--color-light-gray);
}

.text-dark {
  color: var(--color-dark);
}

.text-light {
  color: var(--color-light);
}

.container-text {
  color: var(--color-dark-80);
}

.bg-orange {
  background-color: var(--color-orange);
}

.bg-green {
  background-color: var(--color-green);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-dark-gray {
  background-color: var(--color-dark-gray);
}

.bg-light-gray {
  background-color: var(--color-light-gray);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-none {
  background: transparent !important;
}

.shadow {
  box-shadow: var(--shadow);
}

.shadow-medium {
  box-shadow: var(--shadow-medium);
}

.shadow-big {
  box-shadow: var(--shadow-big);
}

.rounded {
  border-radius: var(--spc-quarter);
}

.rounded-top {
  border-top-left-radius: var(--spc-quarter);
  border-top-right-radius: var(--spc-quarter);
}

.rounded-bottom {
  border-bottom-left-radius: var(--spc-quarter);
  border-bottom-right-radius: var(--spc-quarter);
}

.rounded-left {
  border-top-left-radius: var(--spc-quarter);
  border-bottom-left-radius: var(--spc-quarter);
}

.rounded-right {
  border-top-right-radius: var(--spc-quarter);
  border-bottom-right-radius: var(--spc-quarter);
}

.circle {
  border-radius: 50%;
}

#wpadminbar {
  opacity: 0 !important;
}

#wpadminbar:hover {
  opacity: 1 !important;
}

/* OPACITY */

.opacity-10 {
  opacity: 1;
}

.opacity-9 {
  opacity: .9;
}

.opacity-8 {
  opacity: .8;
}

.opacity-7 {
  opacity: .7;
}

.opacity-6 {
  opacity: .6;
}

.opacity-5 {
  opacity: .5;
}

.opacity-4 {
  opacity: .4;
}

.opacity-3 {
  opacity: .3;
}

.opacity-2 {
  opacity: .2;
}

.opacity-1 {
  opacity: .1;
}

.opacity-0 {
  opacity: 0;
}

/* LINK STYLING */

a {
  color: var(--color-dark);
  text-decoration: none;
  background-image: linear-gradient(180deg, transparent 90%, var(--color-orange) 0), linear-gradient(180deg, transparent 90%, var(--color-light-gray) 0);
  background-size: 0 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: background-size .2s ease;
}

a:hover {
  background-size: 100% 100%, 100% 100%;
}

/* POST HOVERS */

.post-summary .post-title span,
.post-featured .post-title span {
  color: var(--color-dark);
  text-decoration: none;
  background-image: linear-gradient(180deg, transparent 90%, var(--color-orange) 0), linear-gradient(180deg, transparent 90%, var(--color-light-gray) 0);
  background-size: 0 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: background-size .2s ease;
}

.post-summary:hover .post-title span,
.post-featured:hover .post-title span {
  background-size: 100% 100%, 100% 100%;
}

.post-summary .img-cont-fixed,
.post-featured .img-cont-fixed {
  box-shadow: 0 0 0 ();
  transition: ease-in all .1s;
}

.post-summary:hover .img-cont-fixed,
.post-featured:hover .img-cont-fixed {
  transform: translateY(calc(var(--spc-half) * -1));
  box-shadow: var(--shadow-big);
}

.text-over-image .post-title span {
  color: var(--color-light);
  background-image: linear-gradient(180deg, transparent 90%, var(--color-light) 0), linear-gradient(180deg, transparent 90%, var(--color-light-gray) 0);
}

/* OFFSET FOR ANCHORS (COMPENSATING FOR THE NAV BAR) */

.anchor-offset:before {
  content: "";
  position: relative;
  margin-top: -6rem;
  height: 6rem;
  display: block;
  z-index: -1;
}

.anchor-offset:target span {
  animation: temp-highlight 10s;
  animation-iteration-count: 1;
}

/* LISTS */

.list-unstyled {
  list-style: none;
}

.list-categories {
  list-style-image: url("http://nearsoft.local/wp-content/themes/Velvet/_img/icons/tag.svg");
  padding-left: var(--spc);
}

.list-authors {
  list-style-image: url("http://nearsoft.local/wp-content/themes/Velvet/_img/icons/author.svg");
  padding-left: var(--spc);
}

.faq-question {
  background-repeat: no-repeat;
  background-position: 0 6.5rem;
  background-image: url("http://nearsoft.local/wp-content/themes/Velvet/_img/icons/question.svg");
  padding-left: var(--spc);
}

/* SVG */

.svg-hover-highlight svg:hover .colorchange {
  fill: var(--color-orange);
}

/* SEPARATORS and HRs */

.separator {
  border: solid 0;
  border-top-width: 2px;
  border-bottom-width: 2px;
  margin: calc(var(--spc) * 3) auto;
  width: 10rem;
  border-radius: var(--radius);
}

.separator-full {
  width: 100%;
}

blockquote {
  padding-left: 40px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

blockquote:before {
  width: 70px;
  height: 70px;
  background: url("https://nearsoft.local/wp-content/uploads/2019/05/quote-icon.png");
  background-size: cover;
  content: '';
  position: absolute;
  left: -50px;
  top: 10px;
}

blockquote p {
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

blockquote cite {
  font-size: 18px;
  color: #999999;
  font-weight: 300;
}

blockquote cite:before {
  content: '– ';
}

@keyframes temp-highlight {
  0% {
    background: var(--color-orange-30);
  }

  100% {
    background: transparent;
  }
}

/* PILL */

.pill {
  display: inline-block;
  padding: 0 var(--spc-half);
  font-size: .88rem;
  line-height: calc(var(--spc) * 1.5);
  font-weight: 400;
  text-transform: uppercase;
  border-radius: var(--spc-quarter);
}
html {
  font-size: 18px;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  color: var(--color-dark);
}

h1,
.h1 {
  font-size: 2.9rem;
  line-height: 1.2;
  font-weight: 500;
}

h2,
.h2 {
  font-size: 1.77rem;
  line-height: 1.3;
  font-weight: 500;
}

h3,
.h3 {
  font-size: 1.33rem;
  line-height: 1.4;
  font-weight: 400;
}

h4,
.h4 {
  font-size: 1rem;
  font-weight: 500;
}

h5,
.h5 {
  font-size: .88rem;
  font-weight: 500;
}

h6,
.h6,
.tiny {
  font-size: .77rem;
  font-weight: 500;
}

small,
.small {
  font-size: .88rem;
}

.lead {
  font-size: 22px;
  font-weight: 300;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
body {
  margin: 0;
}

/* CONTAINER */

.container {
  max-width: var(--max-content-width);
  margin-top: var(--spc);
  margin-right: auto;
  margin-bottom: var(--spc);
  margin-left: auto;
  padding-right: var(--spc);
  padding-left: var(--spc);
}

.container-fluid {
  margin-top: var(--spc);
  margin-bottom: var(--spc);
  padding-right: var(--spc);
  padding-left: var(--spc);
}

.container-text {
  max-width: var(--max-text-width);
  margin-top: var(--spc);
  margin-right: auto;
  margin-bottom: var(--spc);
  margin-left: auto;
  padding-right: var(--spc);
  padding-left: var(--spc);
}

/* COLUMNS CONTAINER */

.columns {
  display: grid;
  align-items: start;
  grid-gap: 2rem;
}

@media screen and (max-width: 767px) {
  .columns {
    display: block;
  }
}

.align-top {
  align-items: start;
}

.align-bottom {
  align-items: end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

/* SMALL SCREENS */

.sm-2 {
  grid-template-columns: repeat(2, 1fr);
}

.sm-3 {
  grid-template-columns: repeat(3, 1fr);
}

.sm-4 {
  grid-template-columns: repeat(4, 1fr);
}

.sm-5 {
  grid-template-columns: repeat(5, 1fr);
}

.sm-6 {
  grid-template-columns: repeat(6, 1fr);
}

.sm-span-1 {
  grid-column-end: span 1;
}

.sm-span-2 {
  grid-column-end: span 2;
}

.sm-span-3 {
  grid-column-end: span 3;
}

.sm-span-4 {
  grid-column-end: span 4;
}

.sm-span-5 {
  grid-column-end: span 5;
}

.sm-hide {
  display: none;
}

.sm-show {
  display: block;
}

.sm-show-flex {
  display: flex;
}

.sm-show-grid {
  display: grid;
}

.sm-show-iblock {
  display: inline-block;
}

.sm-show-inline {
  display: inline;
}

@media all and (max-width: 767px) {
  .sm-moveto-2 {
    grid-column-start: 2;
  }

  .sm-moveto-3 {
    grid-column-start: 3;
  }

  .sm-moveto-4 {
    grid-column-start: 4;
  }

  .sm-moveto-5 {
    grid-column-start: 5;
  }

  .sm-moveto-6 {
    grid-column-start: 6;
  }

  .sm-hide {
    display: none;
  }
}

/* MEDIUM SCREENS */

@media all and (min-width: 768px) {
  .md-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .md-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .md-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .md-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .md-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .md-span-1 {
    grid-column-end: span 1;
  }

  .md-span-2 {
    grid-column-end: span 2;
  }

  .md-span-3 {
    grid-column-end: span 3;
  }

  .md-span-4 {
    grid-column-end: span 4;
  }

  .md-span-5 {
    grid-column-end: span 5;
  }

  .md-hide {
    display: none;
  }

  .md-show {
    display: block;
  }

  .md-show-flex {
    display: flex;
  }

  .md-show-grid {
    display: grid;
  }

  .md-show-iblock {
    display: inline-block;
  }

  .md-show-inline {
    display: inline;
  }
}

@media all and (min-width: 768px) and (max-width: 979px) {
  .md-moveto-2 {
    grid-column-start: 2;
  }

  .md-moveto-3 {
    grid-column-start: 3;
  }

  .md-moveto-4 {
    grid-column-start: 4;
  }

  .md-moveto-5 {
    grid-column-start: 5;
  }

  .md-moveto-6 {
    grid-column-start: 6;
  }

  .md-hide {
    display: none;
  }
}

/* LARGE SCREENS */

@media all and (min-width: 980px) {
  .lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .lg-span-1 {
    grid-column-end: span 1;
  }

  .lg-span-2 {
    grid-column-end: span 2;
  }

  .lg-span-3 {
    grid-column-end: span 3;
  }

  .lg-span-4 {
    grid-column-end: span 4;
  }

  .lg-span-5 {
    grid-column-end: span 5;
  }

  .lg-hide {
    display: none;
  }

  .lg-show {
    display: block;
  }

  .lg-show-flex {
    display: flex;
  }

  .lg-show-grid {
    display: grid;
  }

  .lg-show-iblock {
    display: inline-block;
  }

  .lg-show-inline {
    display: inline;
  }
}

@media all and (min-width: 980px) and (max-width: 1439px) {
  .lg-moveto-2 {
    grid-column-start: 2;
  }

  .lg-moveto-3 {
    grid-column-start: 3;
  }

  .lg-moveto-4 {
    grid-column-start: 4;
  }

  .lg-moveto-5 {
    grid-column-start: 5;
  }

  .lg-moveto-6 {
    grid-column-start: 6;
  }

  .lg-hide {
    display: none;
  }
}

/* XL SCREENS */

@media all and (min-width: 1440px) {
  .xl-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .xl-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .xl-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .xl-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .xl-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .xl-span-1 {
    grid-column-end: span 1;
  }

  .xl-span-2 {
    grid-column-end: span 2;
  }

  .xl-span-3 {
    grid-column-end: span 3;
  }

  .xl-span-4 {
    grid-column-end: span 4;
  }

  .xl-span-5 {
    grid-column-end: span 5;
  }

  .xl-show {
    display: block;
  }

  .xl-show-flex {
    display: flex;
  }

  .xl-show-grid {
    display: grid;
  }

  .xl-moveto-2 {
    grid-column-start: 2;
  }

  .xl-moveto-3 {
    grid-column-start: 3;
  }

  .xl-moveto-4 {
    grid-column-start: 4;
  }

  .xl-moveto-5 {
    grid-column-start: 5;
  }

  .xl-moveto-6 {
    grid-column-start: 6;
  }

  .xl-hide {
    display: none;
  }
}

/* SPACING (MARGINS) */

.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--spc);
}

.m-2 {
  margin: calc(var(--spc) * 2);
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: var(--spc);
  margin-left: var(--spc);
}

.mx-2 {
  margin-right: calc(var(--spc) * 2);
  margin-left: calc(var(--spc) * 2);
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: var(--spc);
  margin-bottom: var(--spc);
}

.my-2 {
  margin-top: calc(var(--spc) * 2);
  margin-bottom: calc(var(--spc) * 2);
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--spc);
}

.mt-2 {
  margin-top: calc(var(--spc) * 2);
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: var(--spc);
}

.mr-2 {
  margin-right: calc(var(--spc) * 2);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--spc);
}

.mb-2 {
  margin-bottom: calc(var(--spc) * 2);
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: var(--spc);
}

.ml-2 {
  margin-left: calc(var(--spc) * 2);
}

/* SPACING (PADDINGS) */

.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--spc);
}

.p-2 {
  padding: calc(var(--spc) * 2);
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: var(--spc);
  padding-left: var(--spc);
}

.px-2 {
  padding-right: calc(var(--spc) * 2);
  padding-left: calc(var(--spc) * 2);
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: var(--spc);
  padding-bottom: var(--spc);
}

.py-2 {
  padding-top: calc(var(--spc) * 2);
  padding-bottom: calc(var(--spc) * 2);
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: var(--spc);
}

.pt-2 {
  padding-top: calc(var(--spc) * 2);
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: var(--spc);
}

.pr-2 {
  padding-right: calc(var(--spc) * 2);
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: var(--spc);
}

.pb-2 {
  padding-bottom: calc(var(--spc) * 2);
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: var(--spc);
}

.pl-2 {
  padding-left: calc(var(--spc) * 2);
}
img {
  max-width: 100%;
  height: auto;
}

.alignright {
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.alignleft {
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.img-fluid {
  max-width: 100%;
}

.img-rounded {
  border-radius: var(--radius);
}

.img-circle {
  border-radius: 50%;
}

.img-fill-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-cont-fixed {
  width: 100%;
  height: 0;
  box-sizing: content-box;
  position: relative;
  background: var(--color-dark-gray);
}

.img-cont-fixed img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .9;
}

.ratio-1-1 {
  padding-top: 100%;
}

.ratio-16-9 {
  padding-top: 56.25%;
}

.ratio-4-3 {
  padding-top: 75%;
}

.ratio-3-1 {
  padding-top: 33.33%;
}
* {
  box-sizing: border-box;
}

html {
  padding-top: calc(var(--spc) * 3.5);
}

body {
  color: var(--color-dark);
  background: var(--color-light);
}
/* Buttons Options */

.button {
  display: inline-block;
  font-weight: 700;
  line-height: 1.1;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 1em 2em;
  border-radius: 3em;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: ease-in all .1s;
  box-shadow: inset 0 0 0 2px #ff3400;
  color: #ff3400;
  background: transparent;
  z-index: 4;
}

.button-gray {
  box-shadow: inset 0 0 0 2px #616a74;
  color: #616a74;
}

.button-solid {
  color: #fff;
  background-image: linear-gradient(to right, #ff3400 0%, #FF5400 100%);
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: .1s ease-in all;
}

.button:before {
  background-image: linear-gradient(to right, #ff3400 0%, #ff7b00 100%);
}

.button-gray:before {
  background-image: linear-gradient(to right, #616a74 0%, #959da6 100%);
}

.button-solid:before {
  background-image: linear-gradient(to right, #ff5400 0%, #ff7b00 100%);
}

.button:hover {
  box-shadow: inset 0 0 0 2px transparent;
  color: #fff;
}

.button:hover:before {
  opacity: 1;
}

.button-solid:hover {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

/* Arrow button */

.button-arrow:hover {
  padding: 1em 2.5em 1em 1.5em;
}

.button-arrow:after {
  content: "►";
  position: absolute;
  top: 50%;
  right: 1em;
  opacity: 0;
  transform: translateY(-50%);
  transition: .1s ease-in all 0s;
}

.button-arrow:hover:after {
  transform: translateY(-50%);
  opacity: 1;
  transition: .1s ease-in opacity .2s;
}

/* Button sizes */

.sm {
  font-size: .75em;
  line-height: 1.5;
}

.lg {
  font-size: 1.3em;
}
/*
CARDS
Markup examples:

Card:
------------------------------
<a href="#" class="card">
    <h3 class="card-title">Card Title Here</h3>
    <div class="card-image">
    <img src="image.jpg" alt="">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Totam qui praesentium dolorum voluptatum explicabo minima,
    vero ducimus neque, necessitatibus nemo laudantium nesciunt!
    Modi, officiis est?</p>
</a>

modifier classes: card-fancy (image hovering card)
and card-negative (dark card white text)

Notes: Don't place links inside card, as the card itself is a link.
*/

.card {
  display: flex;
  flex-direction: column;
  background: var(--color-light-gray-40);
  text-decoration: none;
  color: var(--color-dark);
  /* box-shadow: var(--shadow-medium); */
  border-radius: var(--spc-quarter);
  transition: ease-in all .1s;
}

@media all and (min-width: 541px) {
  .card.card-jumpy:hover {
    transform: translateY(calc(var(--spc-half) * -1));
    box-shadow: var(--shadow-big);
  }
}

.card>*:not(.card-image) {
  margin: var(--spc);
  margin-top: 0;
}

.card> :first-child {
  margin-top: var(--spc);
}

.card-image {
  order: -1;
  border-radius: var(--spc-quarter) var(--spc-quarter) 0 0;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.card-fancy {
  margin-top: var(--spc);
}

.card-fancy .card-image {
  margin-right: var(--spc);
  margin-left: var(--spc);
  border-radius: var(--spc-quarter);
  transform: translateY(calc(var(--spc) * -1));
  box-shadow: var(--shadow-medium);
  transition: ease-in all .1s;
}

@media all and (min-width: 541px) {
  .card-fancy:hover .card-image {
    transform: translateY(calc(var(--spc-half) * -1));
    box-shadow: var(--shadow);
  }
}

.card-negative {
  background: var(--color-dark);
  color: var(--color-light);
}

.text-over-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--color-light);
  padding: var(--spc-double);
  background-image: linear-gradient(transparent, var(--color-dark-50));
}

.text-over-image>* {
  margin: 0;
  margin-top: var(--spc);
}
.sidebar.sticky {
  position: sticky;
  top: calc(var(--spc) * 4);
}

.sidebar .card {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 979px) {
  .sidebar {
    box-sizing: border-box;
    background: var(--color-light-gray);
    padding: var(--spc-double);
    width: 100vw;
    margin-left: calc(-1 * var(--spc));
  }
}

.pagination {
  display: grid;
  grid-gap: var(--spc);
  grid-template-columns: 1fr 1fr;
}



.pagination-older {
  display: flex;
  justify-content: flex-end;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--spc) * 3.5);
  z-index: 10;
  box-sizing: content-box;
}

.nav-logo {
  height: 45px;
  display: block;
  margin-top: var(--spc-quarter);
}

.nav-toggle {
  display: none;
}

.nav-items {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
}

.nav-items li {
  margin-left: var(--spc-double);
  transform-origin: 0 50%;
  transform: scale(1);
  opacity: 1;
  transition: .2s ease-in transform, .2s ease-in opacity;
}

.nav-items a {
  background: transparent;
  vertical-align: baseline;
  color: var(--color-dark-gray);
  font-weight: 400;
}

.nav-items a:hover {
  color: var(--color-orange);
}

.nav-items a svg {
  transform: translateY(3px);
}

.nav-items a:hover svg #gliph {
  fill: var(--color-orange);
}

.nav-search {
  position: absolute;
  width: 40vw;
  max-width: 80%;
  left: 50%;
  transform-origin: 100% 50%;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  transition: .2s ease-in transform, .2s ease-in opacity;
}

.nav-search svg {
  display: block;
  width: 1rem;
  height: 1rem;
}

.nav-search .form {
  height: calc(var(--spc) * 2);
  margin-top: .75rem;
  display: flex;
  align-items: center;
  border: none;
}

.nav-search .form form {
  width: 100%;
  display: grid;
  grid-template-columns: 24px auto 24px;
  padding: 5px;
  align-items: center;
}

.nav-search .form input {
  flex-grow: 1;
  border: none;
  background: transparent;
  outline: none;
}

.nav-search .form button {
  padding: 0 var(--spc-half);
  border-radius: var(--radius);
}

.nav-search-suggestions {
  position: relative;
  top: calc(var(--spc) * 1.5);
}

.overlay-empty {
  z-index: 5;
  background: var(--color-dark-50);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}

.search-visible body {
  overflow: hidden;
}

.search-visible .nav-items li {
  transform: scale(0);
  opacity: 0;
}

.search-visible .nav-search {
  transform: translateX(-50%) scale(1);
  opacity: 1;
}

form input {
  padding: var(--spc-quarter);
  font-size: 1rem;
}

@media all and (min-width: 980px) {
  .nav .current-menu-item {
    position: relative;
  }

  .nav .current-menu-item:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--color-orange);
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
}

@media all and (max-width: 979px) {
  .nav {
    height: 3.5rem;
    overflow: hidden;
    transition: .3s ease-in height;
  }

  .nav>.columns {
    display: block;
  }

  .nav-logo {
    padding-bottom: 1rem;
    box-sizing: content-box;
  }

  .nav-items {
    margin-left: 0;
    border-top: 2px solid var(--color-light-gray);
    display: block;
  }

  .nav-items li {
    margin-left: 0;
    border-bottom: 1px solid var(--color-light-gray);
  }

  .nav-items a {
    padding: var(--spc-quarter) 1.5rem;
    background: transparent;
    display: block;
  }

  .nav-items li:first-child {
    display: none;
  }

  .nav-search {
    display: block;
    position: static;
    transform: none;
    width: auto;
    max-width: 100%;
    opacity: 1;
    padding-left: 1.5rem;
  }

  .nav-search .form {
    background: var(--color-light-gray);
    margin-bottom: var(--spc-half);
    border-radius: var(--radius);
  }

  .nav-search .form a {
    display: none;
  }

  .nav-search-suggestions {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .nav-toggle {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: .5rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }

  .nav-toggle> :last-child {
    display: none;
  }

  .mobile-menu-visible .nav-toggle> :last-child {
    display: block;
  }

  .mobile-menu-visible .nav-toggle> :first-child {
    display: none;
  }
}
footer {
  background: var(--color-dark);
  margin-top: 5rem;
}

footer .container .columns>div,
.subfooter .container .columns>div {
  background: transparent;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer h3 {
  color: var(--color-light);
  font-size: 1rem;
  font-weight: 500;
}

footer a,
.subfooter a {
  text-decoration: none;
  margin-bottom: .2rem;
  display: block;
  color: var(--color-light-gray-50);
  background: none;
  font-weight: 300;
  transition: .3s;
  font-size: .9rem;
}

.footer span,
.subfooter span {
  margin-bottom: .2rem;
}

footer a:hover {
  color: var(--color-light);
  transition: .3s;
}

.footer-logo {
  width: 50%;
  filter: brightness(0) invert(1);
}

.subfooter svg {
  width: 150px;
  height: auto;
}

.subfooter {
  background: var(--color-dark-90);
  color: #FFF;
  font-size: .9rem;
}

.subfooter .container .columns>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.subfooter .container .columns>.benchmarks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.benchmark {
  width: 3rem;
  margin-right: 1rem;
}