/* Buttons Options */

.button {
  display: inline-block;
  font-weight: 700;
  line-height: 1.1;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 1em 2em;
  border-radius: 3em;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: ease-in all .1s;
  box-shadow: inset 0 0 0 2px #ff3400;
  color: #ff3400;
  background: transparent;
  z-index: 4;
}

.button-gray {
  box-shadow: inset 0 0 0 2px #616a74;
  color: #616a74;
}

.button-solid {
  color: #fff;
  background-image: linear-gradient(to right, #ff3400 0%, #FF5400 100%);
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: .1s ease-in all;
}

.button:before {
  background-image: linear-gradient(to right, #ff3400 0%, #ff7b00 100%);
}

.button-gray:before {
  background-image: linear-gradient(to right, #616a74 0%, #959da6 100%);
}

.button-solid:before {
  background-image: linear-gradient(to right, #ff5400 0%, #ff7b00 100%);
}

.button:hover {
  box-shadow: inset 0 0 0 2px transparent;
  color: #fff;
}

.button:hover:before {
  opacity: 1;
}

.button-solid:hover {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

/* Arrow button */

.button-arrow:hover {
  padding: 1em 2.5em 1em 1.5em;
}

.button-arrow:after {
  content: "►";
  position: absolute;
  top: 50%;
  right: 1em;
  opacity: 0;
  transform: translateY(-50%);
  transition: .1s ease-in all 0s;
}

.button-arrow:hover:after {
  transform: translateY(-50%);
  opacity: 1;
  transition: .1s ease-in opacity .2s;
}

/* Button sizes */

.sm {
  font-size: .75em;
  line-height: 1.5;
}

.lg {
  font-size: 1.3em;
}