/*

COLOR (TEXT AND BG) --------------------------------------------------
To set text color:
class="text-COLORNAME";

To set background color:
class="bg-COLORNAME";

COLORNAME can be any of these:

orange
green
blue
dark-gray
light-gray
dark
light

Notes:
First 5 colors are Nearsoft's official.
Light = white
Default text color is dark

BOX SHADOWS --------------------------------------------------
.shadow, .shadow-medium, .shadow-big


*/

.text-orange {
    color: var(--color-orange);
}

.text-green {
    color: var(--color-green);
}

.text-blue {
    color: var(--color-blue);
}

.text-dark-gray {
    color: var(--color-dark-gray);
}

.text-light-gray {
    color: var(--color-light-gray);
}

.text-dark {
    color: var(--color-dark);
}

.text-light {
    color: var(--color-light);
}

.bg-orange {
    background-color: var(--color-orange);
}

.bg-green {
    background-color: var(--color-green);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-dark-gray {
    background-color: var(--color-dark-gray);
}

.bg-light-gray {
    background-color: var(--color-light-gray);
}

.bg-dark {
    background-color: var(--color-dark);
}

.bg-light {
    background-color: var(--color-light);
}

.shadow {
    box-shadow: var(--shadow);
}

.shadow-medium {
    box-shadow: var(--shadow-medium);
}

.shadow-big {
    box-shadow: var(--shadow-big);
}

.rounded {
    border-radius: var(--spc-quarter);
}

.rounded-top {
    border-top-left-radius: var(--spc-quarter);
    border-top-right-radius: var(--spc-quarter);
}

.rounded-bottom {
    border-bottom-left-radius: var(--spc-quarter);
    border-bottom-right-radius: var(--spc-quarter);
}

.rounded-left {
    border-top-left-radius: var(--spc-quarter);
    border-bottom-left-radius: var(--spc-quarter);
}

.rounded-right {
    border-top-right-radius: var(--spc-quarter);
    border-bottom-right-radius: var(--spc-quarter);
}

#wpadminbar {
    opacity: 0 !important;
}

#wpadminbar:hover {
    opacity: 1 !important;
}