/*

COLOR (TEXT AND BG) --------------------------------------------------
To set text color:
class="text-COLORNAME";

To set background color:
class="bg-COLORNAME";

COLORNAME can be any of these:

orange
green
blue
dark-gray
light-gray
dark
light

Notes:
First 5 colors are Nearsoft's official.
Light = white
Default text color is dark

BOX SHADOWS --------------------------------------------------
.shadow, .shadow-medium, .shadow-big


*/

.text-orange {
    color: var(--color-orange);
}

.text-green {
    color: var(--color-green);
}

.text-blue {
    color: var(--color-blue);
}

.text-dark-gray {
    color: var(--color-dark-gray);
}

.text-light-gray {
    color: var(--color-light-gray);
}

.text-dark {
    color: var(--color-dark);
}

.text-light {
    color: var(--color-light);
}

.container-text {
    color: var(--color-dark-80);
}

.bg-orange {
    background-color: var(--color-orange);
}

.bg-green {
    background-color: var(--color-green);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-dark-gray {
    background-color: var(--color-dark-gray);
}

.bg-light-gray {
    background-color: var(--color-light-gray);
}

.bg-dark {
    background-color: var(--color-dark);
}

.bg-light {
    background-color: var(--color-light);
}

.bg-none {
    background: transparent !important;
}

.shadow {
    box-shadow: var(--shadow);
}

.shadow-medium {
    box-shadow: var(--shadow-medium);
}

.shadow-big {
    box-shadow: var(--shadow-big);
}

.rounded {
    border-radius: var(--spc-quarter);
}

.rounded-top {
    border-top-left-radius: var(--spc-quarter);
    border-top-right-radius: var(--spc-quarter);
}

.rounded-bottom {
    border-bottom-left-radius: var(--spc-quarter);
    border-bottom-right-radius: var(--spc-quarter);
}

.rounded-left {
    border-top-left-radius: var(--spc-quarter);
    border-bottom-left-radius: var(--spc-quarter);
}

.rounded-right {
    border-top-right-radius: var(--spc-quarter);
    border-bottom-right-radius: var(--spc-quarter);
}

#wpadminbar {
    opacity: 0 !important;
}

#wpadminbar:hover {
    opacity: 1 !important;
}

/* LISTS */

.list-unstyled {
    list-style: none;
}

/* SVG */

.svg-hover-highlight svg:hover .colorchange {
    fill: var(--color-orange);
}

/* SEPARATORS and HRs */

.separator {
    border: solid 0;
    border-top-width: 2px;
    border-bottom-width: 2px;
    margin: calc(var(--spc) * 5) auto;
    width: 10rem;
    border-radius: var(--radius);
}

/* TEMPORARY HIGHLIGHT */

.temp-highlight {
    animation: temp-highlight 3s;
    animation-iteration-count: 1;
}

.tag {
  padding: 4px 8px;
  background: var(--color-light-gray);
  display: inline-block;
  margin-bottom: 10px;
}

.unstyled-link {
  background: none;
  transition: all .3s;
}

.unstyled-link:hover {
  transition: all .3s;
}

blockquote {
  padding-left: 40px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

blockquote:before {
  width: 70px;
  height: 70px;
  background: url(https://nearsoft.local/wp-content/uploads/2019/05/quote-icon.png);
  background-size: cover;
  content: '';
  position: absolute;
  left: -50px;
  top: 10px;
}

blockquote p {
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

blockquote cite {
  font-size: 18px;
  color: #999999;
  font-weight: 300;
}

blockquote cite:before {
  content: '– ';
}

@keyframes temp-highlight {
    0% {
        background: var(--color-orange-30);
    }
    100% {
        background: transparent;
    }
}