footer {
  background: #4E4E4E;
  background: var(--color-dark-80);
}

footer .container .columns>div, .subfooter .container .columns>div {
  background: transparent;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer h3 {
  color: var(--color-light);
  font-size: 1rem;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  margin-bottom: .2rem;
  display: block;
  color: var(--light-gray-50);
  background: none;
  font-weight: 300;
  transition: .3s;
  font-size: .9rem;
}

footer a:hover {
  color: var(--color-light);
  transition: .3s;
}

.footer-logo {
  width: 50%;
}

.subfooter {
  background: var(--color-dark-90);
  color: #FFF;
  font-size: .9rem;
}

.subfooter span {
  color: var(--color-orange);
}

.subfooter .container .columns>div {
  display: flex;
  align-items: center;
}

.benchmark {
  width: 3rem;
  margin-right: 1rem;
}