img {
    max-width: 100%;
    height: auto;
}

.alignright {
    float: right;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.alignleft {
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.img-fluid {
    max-width: 100%;
}

.img-rounded {
    border-radius: var(--radius);
}

.img-circle {
    border-radius: 50%;
}

.img-fill-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-cont-fixed {
    width: 100%;
    height: 0;
    box-sizing: content-box;
    position: relative;
}

.img-cont-fixed img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ratio-1-1 {
    padding-top: 100%;
}

.ratio-16-9 {
    padding-top: 56.25%;
}

.ratio-4-3 {
    padding-top: 75%;
}

.ratio-3-1 {
    padding-top: 33.33%;
}