.sidebar.sticky {
  position: sticky;
  top: calc(var(--spc) * 4);
}

.sidebar .card {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 979px) {
  .sidebar {
    box-sizing: border-box;
    background: var(--color-light-gray);
    padding: var(--spc-double);
    width: 100vw;
    margin-left: calc(-1 * var(--spc));
  }
}

.pagination {
  display: grid;
  grid-gap: var(--spc);
  grid-template-columns: 1fr 1fr;
}

.pagination-newer {}

.pagination-older {
  display: flex;
  justify-content: flex-end;
}