html {
    /* COLORS */
    --color-orange: rgba(255, 84, 0, 1);
    --color-orange-90: rgba(255, 84, 0, .9);
    --color-orange-80: rgba(255, 84, 0, .8);
    --color-orange-70: rgba(255, 84, 0, .7);
    --color-orange-60: rgba(255, 84, 0, .6);
    --color-orange-50: rgba(255, 84, 0, .5);
    --color-orange-40: rgba(255, 84, 0, .4);
    --color-orange-30: rgba(255, 84, 0, .3);
    --color-orange-20: rgba(255, 84, 0, .2);
    --color-orange-10: rgba(255, 84, 0, .1);
    /**/
    --color-green: #4bb900;
    --color-blue: red;
    /**/
    --color-dark-gray: rgba(97, 106, 116, 1);
    --color-dark-gray-90: rgba(97, 106, 116, .9);
    --color-dark-gray-80: rgba(97, 106, 116, .8);
    --color-dark-gray-70: rgba(97, 106, 116, .7);
    --color-dark-gray-60: rgba(97, 106, 116, .6);
    --color-dark-gray-50: rgba(97, 106, 116, .5);
    --color-dark-gray-40: rgba(97, 106, 116, .4);
    --color-dark-gray-30: rgba(97, 106, 116, .3);
    --color-dark-gray-20: rgba(97, 106, 116, .2);
    --color-dark-gray-10: rgba(97, 106, 116, .1);
    /**/
    --color-light-gray: #e0e4e8;
    --color-light-gray-90: rgba(224, 228, 232, .9);
    --color-light-gray-80: rgba(224, 228, 232, .8);
    --color-light-gray-70: rgba(224, 228, 232, .7);
    --color-light-gray-60: rgba(224, 228, 232, .6);
    --color-light-gray-50: rgba(224, 228, 232, .5);
    --color-light-gray-40: rgba(224, 228, 232, .4);
    --color-light-gray-30: rgba(224, 228, 232, .3);
    --color-light-gray-20: rgba(224, 228, 232, .2);
    --color-light-gray-10: rgba(224, 228, 232, .1);
    /**/
    --color-dark: rgba(19, 22, 25, 1);
    --color-dark-90: rgba(19, 22, 25, .9);
    --color-dark-80: rgba(19, 22, 25, .8);
    --color-dark-70: rgba(19, 22, 25, .7);
    --color-dark-60: rgba(19, 22, 25, .6);
    --color-dark-50: rgba(19, 22, 25, .5);
    --color-dark-40: rgba(19, 22, 25, .4);
    --color-dark-30: rgba(19, 22, 25, .3);
    --color-dark-20: rgba(19, 22, 25, .2);
    --color-dark-10: rgba(19, 22, 25, .1);
    /**/
    --color-light: #fff;
    /* SPACING */
    --max-content-width: 1280px;
    --max-text-width: 42rem;
    --spc: 1rem;
    --spc-double: calc(var(--spc) * 2);
    --spc-half: calc(var(--spc) / 2);
    --spc-quarter: calc(var(--spc) / 4);
    /* SHADOW VALUES */
    --shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
    --shadow-big: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.1);
    --radius: var(--spc-quarter);
}